<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h3 th:text="${header3}"></h3>
	<hr>
	<form th:action="@{/form}" th:object="${userDto}" method="post">
		<div>
			<label for="user"> User: </label>
			<div>
				<input type="text" id="user" th:field="*{user}">
			</div>
			<div th:if="${error != null && error.containsKey('user') }"
				th:text="${error.user}"></div>
		</div>
		<div>
			<label for="password"> Password: </label>
			<div>
				<input type="password"  id="password" th:field="*{password}">
			</div>
			<div th:if="${error != null && error.containsKey('password') }"
				th:text="${error.password}"></div>
		</div>
		<div>
			<div>
				<p>
					<input type="submit" value="Send">
			</div>
			<div>
				<div>
					<p>
					<div th:if="${error != null && error.containsKey('Login') }"
						th:text="${error.Login}"></div>
				</div>
			</div>
		</div>
	</form>
	<hr>
</body>
</html>